aniso8601==9.0.1
attrs==22.2.0
click==8.0.4
Flask==2.0.3
flask-restx==1.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
MarkupSafe==2.0.1
pypdf==3.16.4
pyrsistent==0.18.0
pytz==2023.3.post1
six==1.16.0
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
